$font-1: 'PT Sans', 'IBM Plex Sans', 'Arial', sans-serif;
$border-color: #bfbfbf;
$text-color: #202020;
$toprak: #1e5262;
$turk: #0a17e3;

@import "base";
@import "redundant";
@import "layout";
@import "section";
@import "footer";
@import "print";
